<configuration>
  <system.webServer>
    <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the app.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <!-- Setup for HTTPS -->
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect non-www OR non-https to https://www">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^www.startupcol.com$" />
              <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://startupcol.com/{R:1}" redirectType="Permanent"/>
        </rule>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="aot{REQUEST_URI}"/>
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
        <!-- Set expire headers to 30 days for static content-->
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <!--<dynamicTypes>
          <clear />
          <add enabled="true" mimeType="*/*"/>
      </dynamicTypes>-->
      <staticTypes>
          <clear />
          <add enabled="true" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
